*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
     background-color: #dd6041;
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     min-height: 100vh;


}
.container {
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #f4f4f4;
    
}

.champs {
    
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}

header{
    font-size: 1.5rem;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



input[type="text"] {
    width:  100px;
    padding: 10px;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 20px;
    margin: 10px;
    background-color:rgb(169, 164, 164) ;
    
    
    
}

button {
   
    background:transparent ;
    width: 300px;
    height: 100px;
    margin-bottom: 6px;
    /* padding: 1px 10px ; */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    
}


button :hover{
    background-color: #e77b60;
}


input[type="date"] {
    width: 100px;
    padding: 10px;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 20px;
    margin: 10px;
    background-color:rgb(169, 164, 164) ;
}

select{

    width: 125px;
    padding: 10px;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40px;
    display: flex;
    margin: 10px;
    background-color:rgb(169, 164, 164) ;
}

ul {
    width: 99%;
    height: 20%;
    list-style: none;
    padding: 0;
    justify-content: space-between;

}

ul li {
    width: 98%;
    height: 50%;
    /* margin-bottom: 10px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e3dfdf;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0,0.1);
    transition: background-color 0.3s ease-in-out;
}

li:hover {
    background-color: #ddd;
}

ion-icon{

    font-size:  20px;
    margin-right: 5px;
    background: midnightblue;
    padding: 0.5rem;
    color: #f1f1f1;
    border-radius: 50%;

}

.delete {
    background: #dd6041;
    transition: all;
    
}
.ajout{
    background: #000;
}



.remove-task {
    animation: removeAnimation 0.3s ease forwards;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    font-size: 13px;
}
