*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background-image:linear-gradient(120deg,#dd6041,#746c6c);
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     min-height: 100vh;
}

header{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nomtache,.datetache,.priorite,.stat{
    display: flex;
    flex-direction: column;
}
.todo-input, .deadlineInput{
    margin: 1rem;
}
.label{
   margin-left: 16%;
}
form input{
    padding: 0.1rem;
    font-size: 1rem;
    border-radius: 15px;
    background: bisque;
    width: 130px;
    margin-right: 10px;
    height: 48px;
}

form button{
    background:white;
    /* background-color: #e77b60; */
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 50px;
    margin-top: 14px;

}

form button:hover{
    background-color: bisque;
}

.contener{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.todo-list{
    min-width: 30%;
    list-style: none;
    /* justify-content: space-between; */
}
.todo{
    margin: 0.5rem;
    background: bisque;
    color: black;
    font-size: 1rem;
    display: flex;
    word-spacing: 15px;
    align-items: center;
    transition: all 0.5s ease;
    width: 700px;
    border-radius: 15px;
    white-space: none;
    
    
}

.todo li{
    flex: 1;
    

}

.trash-btn,complete-btn{
    background: white;
    color: #dd6041;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}


.complete-btn{
    background: black;
    color: #dd6041;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.todo-item{
    padding: 0rem 0.5rem;
}

.trash, check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

select{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    width: 10rem;
    cursor: pointer;
    padding: 1rem ;
    background-color: bisque;
    border-radius: 15px;
    height: 44px;
}


.select::after{
    content: "\25BC";
    position:absolute;
    background: black;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color: bisque;
}

.Selection{
    margin: 1rem;
    position: relative;
    overflow: hidden;
    

}

.Selection::after{
    content: "\25BC";
    position:absolute;
    background: black;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.Selection:hover::after{
    background: white;
    color: bisque;
}

@media screen and (max-width: 768px) {
    form input[type="text"],
    form input[type="date"],
    form select,
    form button {
        width: 100%; /* Largeur de 100% sur les petits écrans */
    }

    .todo {
        width: 100%; /* Largeur de 100% sur les petits écrans */
    }
}
@media screen and (max-width: 668px) {
    .label{
        font-size: small;
        margin-left: 18%;
    }
    form input[type="text"]{
        width: 69%; /* Largeur de 69% sur les petits écrans */
        height: 30px;
        font-size: 0.7rem;

    }
    form input[type="date"]{
        width: 69%; /* Largeur de 69% sur les petits écrans */
        height: 30px;
        font-size: 0.7rem;
    }
    form select{
        width: 69%; /* Largeur de 100% sur les petits écrans */
        height: 30px;
        font-size: 0.7rem;
    }
    form button {
       height: 50px;
       width: 50px;
       margin-right: 14%;
    }
    select{
        width: 8rem;
        cursor: pointer;
        padding: 1rem ;
        background-color: bisque;
        border-radius: 15px;
        height: 42px;
    }
    .select::after{
        content: "\25BC";
        position:absolute;
        background: black;
        top: 0;
        right: 0;
        padding: 0.7rem;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .Selection::after{
        content: "\25BC";
        position:absolute;
        background: black;
        top: 0;
        right: 0;
        padding: 0.7rem;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    
    .todo {
        width: 100%; /* Largeur de 100% sur les petits écrans */
    }
}
@media screen and (max-width: 568px) {
    .label{
        font-size: 0.48rem;
        margin-left: 12%;
        /* font-size: 0.3; */
    }
    form input[type="text"]{
        width: 50%; /* Largeur de 69% sur les petits écrans */
        height: 15px;
        font-size: 0.4rem;
        /* margin: 12%; */

    }
    form input[type="date"]{
        width: 80%; /* Largeur de 69% sur les petits écrans */
        height: 15px;
        font-size: 0.4rem;
        margin: 25%;
    }
    form select{
        width: 70%; /* Largeur de 100% sur les petits écrans */
        height: 8px;
        font-size: 0.4rem;
    }
    form button {
       height: 50px;
       width: 50px;
       margin-right: 2%;
    }
    select{
        width: 2rem;
        cursor: pointer;
        padding: 1rem ;
        background-color: bisque;
        border-radius: 15px;
        height: 21px;
    }
    .select::after{
        content: "\25BC";
        position:absolute;
        background: black;
        top: 0;
        right: 0;
        padding: 0.7rem;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .Selection::after{
        content: "\25BC";
        position:absolute;
        background: black;
        top: 0;
        right: 0;
        padding: 0.7rem;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    
    .todo {
        width: 100%; /* Largeur de 100% sur les petits écrans */
    }
}
@media screen and (max-width: 280px) {
    form input[type="text"],
    form input[type="date"],
    form select,
    form button {
        width: 100%; /* Largeur de 100% sur les petits écrans */
    }

    .todo {
        width: 100%; /* Largeur de 100% sur les petits écrans */
    }
}

